*{
    margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slide{
    width: 95vw;
}

/* .slide-enter {
    transform: translateX(-95vw);
  }
  .slide-enter-active {
    transform: translateX(0px);
    transition: all 3s;
  }
  .slide-exit {
    transform: translateX(0px);
  }
  .slide-exit-active {
    transform: translateX(-95vw);
    transition: all 3s;
  } */
